NetBeansProjects/MerlionHotelReservation/HolidayReservationSystemSeClient/xml-resources/web-service-references/PartnerWebService/wsdl/localhost_8080/PartnerWebService/PartnerWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="PartnerWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/PartnerWebService/PartnerWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="viewAllPartnerReservations">
<part name="parameters" element="tns:viewAllPartnerReservations"/>
</message>
<message name="viewAllPartnerReservationsResponse">
<part name="parameters" element="tns:viewAllPartnerReservationsResponse"/>
</message>
<message name="partnerSearchAvailableRooms">
<part name="parameters" element="tns:partnerSearchAvailableRooms"/>
</message>
<message name="partnerSearchAvailableRoomsResponse">
<part name="parameters" element="tns:partnerSearchAvailableRoomsResponse"/>
</message>
<message name="partnerLogin">
<part name="parameters" element="tns:partnerLogin"/>
</message>
<message name="partnerLoginResponse">
<part name="parameters" element="tns:partnerLoginResponse"/>
</message>
<message name="WrongPasswordException">
<part name="fault" element="tns:WrongPasswordException"/>
</message>
<message name="InvalidPartnerLoginException">
<part name="fault" element="tns:InvalidPartnerLoginException"/>
</message>
<message name="viewPartnerReservation">
<part name="parameters" element="tns:viewPartnerReservation"/>
</message>
<message name="viewPartnerReservationResponse">
<part name="parameters" element="tns:viewPartnerReservationResponse"/>
</message>
<message name="ReservationNotFoundException">
<part name="fault" element="tns:ReservationNotFoundException"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="partnerReserveRoom">
<part name="parameters" element="tns:partnerReserveRoom"/>
</message>
<message name="partnerReserveRoomResponse">
<part name="parameters" element="tns:partnerReserveRoomResponse"/>
</message>
<message name="RoomTypeNotFoundException">
<part name="fault" element="tns:RoomTypeNotFoundException"/>
</message>
<message name="RoomTypeUnavailableException">
<part name="fault" element="tns:RoomTypeUnavailableException"/>
</message>
<message name="PartnerNotFoundException">
<part name="fault" element="tns:PartnerNotFoundException"/>
</message>
<portType name="PartnerWebService">
<operation name="viewAllPartnerReservations">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/viewAllPartnerReservationsRequest" message="tns:viewAllPartnerReservations"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/viewAllPartnerReservationsResponse" message="tns:viewAllPartnerReservationsResponse"/>
</operation>
<operation name="partnerSearchAvailableRooms">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/partnerSearchAvailableRoomsRequest" message="tns:partnerSearchAvailableRooms"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/partnerSearchAvailableRoomsResponse" message="tns:partnerSearchAvailableRoomsResponse"/>
</operation>
<operation name="partnerLogin">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/partnerLoginRequest" message="tns:partnerLogin"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/partnerLoginResponse" message="tns:partnerLoginResponse"/>
<fault message="tns:WrongPasswordException" name="WrongPasswordException" wsam:Action="http://ws.session.ejb/PartnerWebService/partnerLogin/Fault/WrongPasswordException"/>
<fault message="tns:InvalidPartnerLoginException" name="InvalidPartnerLoginException" wsam:Action="http://ws.session.ejb/PartnerWebService/partnerLogin/Fault/InvalidPartnerLoginException"/>
</operation>
<operation name="viewPartnerReservation">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/viewPartnerReservationRequest" message="tns:viewPartnerReservation"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/viewPartnerReservationResponse" message="tns:viewPartnerReservationResponse"/>
<fault message="tns:ReservationNotFoundException" name="ReservationNotFoundException" wsam:Action="http://ws.session.ejb/PartnerWebService/viewPartnerReservation/Fault/ReservationNotFoundException"/>
</operation>
<operation name="hello">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="partnerReserveRoom">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/partnerReserveRoomRequest" message="tns:partnerReserveRoom"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/partnerReserveRoomResponse" message="tns:partnerReserveRoomResponse"/>
<fault message="tns:RoomTypeNotFoundException" name="RoomTypeNotFoundException" wsam:Action="http://ws.session.ejb/PartnerWebService/partnerReserveRoom/Fault/RoomTypeNotFoundException"/>
<fault message="tns:RoomTypeUnavailableException" name="RoomTypeUnavailableException" wsam:Action="http://ws.session.ejb/PartnerWebService/partnerReserveRoom/Fault/RoomTypeUnavailableException"/>
<fault message="tns:PartnerNotFoundException" name="PartnerNotFoundException" wsam:Action="http://ws.session.ejb/PartnerWebService/partnerReserveRoom/Fault/PartnerNotFoundException"/>
</operation>
</portType>
<binding name="PartnerWebServicePortBinding" type="tns:PartnerWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="viewAllPartnerReservations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="partnerSearchAvailableRooms">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="partnerLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WrongPasswordException">
<soap:fault name="WrongPasswordException" use="literal"/>
</fault>
<fault name="InvalidPartnerLoginException">
<soap:fault name="InvalidPartnerLoginException" use="literal"/>
</fault>
</operation>
<operation name="viewPartnerReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ReservationNotFoundException">
<soap:fault name="ReservationNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="partnerReserveRoom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RoomTypeNotFoundException">
<soap:fault name="RoomTypeNotFoundException" use="literal"/>
</fault>
<fault name="RoomTypeUnavailableException">
<soap:fault name="RoomTypeUnavailableException" use="literal"/>
</fault>
<fault name="PartnerNotFoundException">
<soap:fault name="PartnerNotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="PartnerWebService">
<port name="PartnerWebServicePort" binding="tns:PartnerWebServicePortBinding">
<soap:address location="http://localhost:8080/PartnerWebService/PartnerWebService"/>
</port>
</service>
</definitions>